.idea/
creds.py
creds.pyc
powerr/__init__.pyc
powerr/__pycache__/
powerr/admin.pyc
powerr/challonge_util.pyc
powerr/migrations/
powerr/models.pyc
powerr/skill_util.pyc
powerr/views.pyc
powerrankings/__init__.pyc
powerrankings/__pycache__/
powerrankings/settings.pyc
powerrankings/urls.pyc
powerrankings/wsgi.pyc