{% extends "index.html" %}
{% comment %}
Represents a player and lists all of their wins and losses. If they win, the win class is set. If they lose,
the loss class is set.
{% endcomment %}
{% block title %}{{ player.name }} - PsiPR{% endblock %}
{% block content %}
<a href="/">Back</a>
<h2>{{ player.name }}</h2>
<table class="table">
    <thead>
    <tr>
        <th>Winner</th>
        <th>Loser</th>
    </tr>
    </thead>
    {% for match in matches %}
        <tr class="{% if match.winner.id == player.id %}win{% else %}loss{% endif %}">
            <td>
                <a href="/player/{{ match.winner.id }}">{{ match.winner.name }}</a>
            </td>
            <td>
                <a href="/player/{{ match.loser.id }}">{{ match.loser.name }}</a>
            </td>
        </tr>

    {% endfor %}
</table>
{% endblock %}