{% extends "index.html" %}
{% block title %}Tournaments - PsiPR{% endblock %}
{% block content %}
    <h2>Tournaments</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for t in tournaments %}
            <tr>
                <td><a href="/tournaments/{{ t.id }}">{{ t.name }}</a></td>
                <td>{{ t.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}